.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 0.125rem 0.375rem 0.125rem;
  border-bottom: 0.0625rem solid rgb(196, 196, 196);
  margin-top: 0.375rem;
}

.headerLeftSection {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.firstPart {
  display: flex;
}

.keep {
  display: flex;
  color: rgb(114, 114, 114);
  font-size: 1.2rem;
  align-items: center;
}

.bar {
  background-color: rgb(27, 27, 27);
  width: 80%;
  height: 0.18rem;
  border-radius: 0.2rem;
  transition: 0.7s ease;
}

.nav {
  list-style: none;
  width: 18rem;
  margin-left: -3.7rem;
}

#sideBar {
  list-style-type: none;
}

#bar-1 {
  transform: translateY(-0.2rem);
}

#bar-3 {
  transform: translateY(00.2rem);
}

.change #bar-1 {
  transform: translateY(00.29rem) rotate(-45deg);
}

.change #bar-2 {
  opacity: 0;
}

.change #bar-3 {
  transform: translateY(-00.1rem) rotate(45deg);
}

.change .bar {
  background-color: rgb(138, 138, 138);
}

.listItems {
  cursor: pointer;
  transition: 0.7s ease;
  width: 20rem;
  border: none;
  outline: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding-left: 2.4rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: rgb(78, 78, 78);
  font-size: 1.2rem;
  font-weight: 500;
  gap: 2.5rem;
}

#notesButton {
  border: none;
  outline: none;
}

.dNone {
  display: none !important;
  background-color: #1a912e;
}

.slideIc {
  padding-top: 2.5px;
  padding-left: 1.6px;
  /* zoom: 1.4; */
  font-size: 1.5rem;
}

.listItemsNew {
  width: 3.4rem;
  margin-left: 1.6rem;
  border-radius: 50%;
  padding-left: 0.8rem;
}

.slideText {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/**Dark Theme for Slide Menu*/

.darkBody .header {
  border-bottom: 0.16rem solid black;
}

.darkHeader .searchBar {
  background: rgb(85 85 85);
}

.darkHeader .bx,
.darkHeader .bar,
.darkThemeForMenu .slideIc,
.darkHeader .search,
.darkHeader .keep,
.darkHeader .searchBar,
.darkThemeForMenu .slideText {
  color: #c1c1c1;
}

/* .darkThemeForMenu .temporaryForHoverEffect {
  background-color: rgb(85 85 85);
  box-shadow: 6px 6px 14px 0 rgb(0 0 0 / 20%), 3px 4px 10px 1px rgb(0 0 0 / 55%);
} */

.darkThemeForMenu .listItems:hover {
  background-color: rgb(85 85 85);
  box-shadow: 6px 6px 14px 0 rgb(0 0 0 / 20%), 3px 4px 10px 1px rgb(0 0 0 / 55%);
}

.darkForm .form {
  background: transparent;
  box-shadow: none;
}

.listItems:hover {
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  background-color: rgb(148, 148, 148);
}

.slide .listItems:hover {
  color: black;
  background-color: #1a912e;
}

#menu {
  width: 2rem;
  margin: 1rem 0 1.1rem 1.1rem;
  cursor: pointer;
}

.headerCenterSection {
  display: flex;
  padding-left: 2rem;
  width: 56rem;
  border-radius: 1.8rem;
  position: relative;
}

.searchBar {
  background: #efeff1;
  display: flex;
  align-items: center;
  border-radius: 0.625rem;
  height: 3rem;
  width: 100%;
  justify-content: space-between;
}

.searchIc {
  padding-left: 1.6rem;
  padding-top: 5px;
  width: 2 rem;
  font-size: 1.5rem;
  color: rgb(78, 78, 78);
}

.search {
  font-size: 1.4rem;
  width: 100%;
  height: 3.4rem;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 1rem;
}

.headerRightSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerRightSectionIcon {
  font-size: 2rem;
  color: rgb(59, 59, 59);
  margin-right: 1rem;
}

.themesSection {
  position: relative;
  top: 3.75rem;
  background-color: #1a73e8;
  display: none;
}

/* media queries for mobile screen */

@media only screen and (max-width: 420px) {
  #sideBar {
    height: 100vh;
    position: absolute;
    padding-right: 1em;
    background-color: white;
  }

  .darkBody #sideBar,
  .darkBody .nav {
    background-color: rgb(59 58 58);
  }

  .dNone {
    display: block;
  }

  .header {
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-between;
  }

  .one,
  .two {
    display: none;
  }

  .keep {
    font-size: 1rem;
  }

  .nav {
    background-color: #ffffff;
    height: 100vh;
    /* border-right: 1px solid #c1c1b0; */
    z-index: 10;
  }
  .listItems {
    min-width: 2.7em;
    max-width: 12rem;
    gap: 0.8rem;
  }

  .listItemsNew {
    max-width: 3rem;
    border-radius: 50%;
  }

  .change .nav {
    background-color: transparent;
    border: none;
  }

  .searchBar {
    min-width: 1.6rem;
    max-width: 12rem;
    /* background-color: transparent; */
  }

  .slideIc {
    padding-top: 1.5px;
    padding-left: 0.6px;
    font-size: 1.4rem;
  }

  .searchBar:hover {
    min-width: 3rem;
    max-width: 10rem;
    background-color: #c1c1c1;
    z-index: 100;
  }

  .searchBar:hover #headerLeftSection {
    display: none;
    background-color: blue;
  }

  .listItemsNew {
    width: 3em;
  }

  .headerRightSection {
    gap: 0.4rem;
  }
}

@media (min-width: 421px) and (max-width: 780px) {
  .listItems {
    width: 13rem;
    gap: 0.9rem;
  }

  .listItemsNew {
    width: 3em;
  }

  .darkBody #sideBar {
    background-color: rgb(59 58 58);
    /* box-shadow: 1px 4px 8px 0px black; */
  }

  #sideBar {
    height: 100vh;
    position: absolute;
    z-index: 100;
    padding-right: 1em;
    background-color: white;
  }
  .headerRightSection {
    gap: 0;
  }
}

/* media queries for tablet */

@media (min-width: 781px) and (max-width: 1200px) {
  .header {
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-between;
  }

  .searchBar:hover {
    background-color: #c1c1c1;
    z-index: 100;
  }

  .headerRightSection {
    gap: 0.4rem;
  }

  .nav {
    z-index: 10;
  }

  .listItems {
    width: 15rem;
    gap: 0.9rem;
  }

  .listItemsNew {
    width: 3em;
  }
}
