.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 2px 6px 2px;
  border-bottom: 1px solid rgb(196, 196, 196);
  margin-top: 6px;
}

.headerLeftSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.firstPart {
  display: flex;
}

.secondPart {
  display: flex;
  gap: 1.6rem;
}

.keep {
  display: flex;
  color: rgb(114, 114, 114);
  font-size: 1.6rem;
  align-items: center;
}

.bar {
  background-color: rgb(27, 27, 27);
  width: 70%;
  height: 3px;
  border-radius: 4px;
  transition: 0.7s ease;
}

.slide .nav {
  background-color: aqua;
  width: 0px;
}

.nav {
  list-style: none;
  width: 20rem;
  margin-left: -3.5rem;
}

#bar-1 {
  transform: translateY(-4px);
}

#bar-3 {
  transform: translateY(4px);
}

.change #bar-1 {
  transform: translateY(4px) rotate(-45deg);
}

.change #bar-2 {
  opacity: 0;
}

.change #bar-3 {
  transform: translateY(-2px) rotate(45deg);
}

.change .bar {
  background-color: rgb(138, 138, 138);
}

.listItems {
  width: 20rem;
  border-top-right-radius: 2.2rem;
  border-bottom-right-radius: 2.2rem;
  padding-left: 2.6rem;
  height: 4rem;
  display: flex;
  align-items: center;
  color: rgb(78, 78, 78);
  font-size: 1.2rem;
  font-weight: 500;
  gap: 3rem;
}

.dNone {
  display: none !important;
  background-color: #1a912e;
}

.slideIc {
  padding-top: 3px;
  padding-left: 2px;
  zoom: 1.4;
}

.listItemsNew {
  width: 3rem;
  margin-left: 1.6rem;
  border-radius: 50%;
  padding-left: 1rem;
}

.slideText {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/**Dark Theme for Slide Menu*/

.darkBody .header {
  border-bottom: 3px solid black;
}

.darkHeader .bar {
  background-color: rgb(2, 2, 2);
}

.darkHeader .keep .searchIc {
  color: rgb(0, 0, 0);
}

.darkHeader .bx {
  color: #c1c1c1;
}

.darkHeader .searchBar {
  background: rgb(85 85 85);
}

.darkThemeForMenu .slideIc,
.darkHeader .search {
  color: #000000;
}

.darkThemeForMenu .slideText {
  color: rgb(0, 0, 0);
}

.darkThemeForMenu .temporaryForHoverEffect {
  background-color: rgb(85 85 85);
  box-shadow: 6px 6px 14px 0 rgb(0 0 0 / 20%), 3px 4px 10px 1px rgb(0 0 0 / 55%);
}

.darkThemeForMenu .listItems:hover {
  background-color: rgb(85 85 85);
  box-shadow: 6px 6px 14px 0 rgb(0 0 0 / 20%), 3px 4px 10px 1px rgb(0 0 0 / 55%);
}

.darkForm .form {
  background: transparent;
  box-shadow: none;
}

.temporaryForHoverEffect {
  color: black;
  display: flex;
  align-items: center;
  background-color: #feefc3;
}

.listItems:hover {
  color: black;
  display: flex;
  align-items: center;
  background-color: rgb(148, 148, 148);
}

.slide .listItems:hover {
  color: black;
  background-color: #1a912e;
}

#menu {
  width: 35px;
  zoom: 1.1;
  margin: 18px 0px 20px 20px;
  cursor: pointer;
}

.headerCenterSection {
  display: flex;
  width: 56rem;
  border-radius: 1.8rem;
  position: relative;
}

.searchBar {
  background: #efeff1;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-right: 4rem;
  height: 3.4rem;
  width: 100%;
  justify-content: space-between;
}

.searchIc {
  padding-left: 1.6rem;
  width: 2 rem;
  height: 1.4rem;
}

.search {
  font-size: 1.4rem;
  width: 100%;
  height: 3.4rem;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 1rem;
}

.headerRightSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerRightSectionIcon {
  font-size: 2rem;
  color: rgb(59, 59, 59);
  margin-right: 1rem;
}

.themesSection {
  position: relative;
  top: 60px;
  background-color: #1a73e8;
  display: none;
}
