body {
  /* background-color: #272b27; */
  /* color: #ffffff; */
  margin: 0;
  zoom: 1;
  padding: 0;
}

.dark-body {
  background-color: rgb(58, 58, 58);
  color: #ffffff;
}

.main {
  background-color: solid gray;
}

.main-container {
  display: flex;
}

p,
h1,
h2,
h3,
div,
textarea,
input,
h4,
h5,
h6,
a {
  font-family: "Roboto" !important;
}
