.form {
  margin-top: 2rem;
  margin-left: 15rem;
  padding: 0.6rem;
  display: flex;
  box-shadow: 1px 2px 6px 0px rgb(0 0 0 / 29%);
  gap: 0.3rem;
  flex-direction: column;
  width: 40rem;
  border-radius: 10px;
}

.notes_title {
  font-size: 1.6rem;
  border: none;
  width: 100%;
  outline: none;
  background: transparent;
}

.notes_description {
  border: none;
  font-size: 1.2rem;
  outline: none;
  background: transparent;
  resize: none;
  width: 100%;
}

.save_notes {
  border-radius: 0.4rem;
  width: 8rem;
  height: 2rem;
  outline: none;
  border: none;
  background-color: #1a73e8;
  color: #ffffff;
}

.savedNotes {
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 15rem;
  color: rgb(70, 70, 70);
  border: 2px solid rgb(216, 216, 216);
  border-radius: 0.8rem;
}

#savedNotes {
  padding-top: 1rem;
}

.savedNotesFirst {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}

#savedNotesTitle {
  width: 80%;
  border: none;
  font-weight: 520;
  font-size: 1.2rem;

  outline: none;
  background: transparent;
  resize: none;
}

#savedNotesDescription {
  border: none;
  width: 90%;
  color: rgb(75, 75, 75);
  font-size: 1rem;
  outline: none;
  background: transparent;
  resize: none;
}

#savedNotesIcon {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  color: rgb(94, 94, 94);
}

#savedNotesIcon > p {
  width: 2.2rem;
  height: 2.2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#savedNotesIcon > p:hover {
  color: black;
  background-color: rgb(233, 233, 233);
  border-radius: 50%;
}

.SavedNotesThirdSection {
  display: flex;
  justify-content: space-between;
}

.editBtn {
  border-radius: 0.4rem;
  background-color: #ffc619;
  color: rgb(73, 73, 73);
  border: none;
  height: 2rem;
  font-weight: 600;
  width: 6.2rem;
}

.DeleteBtn {
  border-radius: 0.4rem;
  background-color: #ff0000;
  color: rgb(32, 32, 32);
  border: none;
  height: 2rem;
  font-weight: 600;
  width: 6.2rem;
}

.notes-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
