.types {
  display: none;
  position: relative;
  margin-top: 0rem;
  margin-left: 10rem;
  width: 45.2rem;
  border: none;
  box-shadow: 1px 2px 4px 0px;
}

.types_heading {
  margin: 1rem;
  padding-top: 1rem;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 18px;
}

.types_content {
  display: flex;
  border: none;
  outline: none;
  gap: 0.4rem;
}

.types_items {
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  width: 11rem;
  height: 10rem;
  background-color: #1a73e8;
}

.list-ic {
  width: 2.2rem;
  height: 2rem;
  color: white;
  padding-top: 2.8rem;
}

.list {
  padding-top: 2.2rem;
}

.labels {
  display: none;
  width: 45.2rem;
  margin-left: 10rem;
  border: none;
  box-shadow: 1px 2px 4px 0px;
}

.labels_heading,
.color-heading {
  margin: 1rem;
  padding-top: 1rem;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 1.2rem;
}

.label_items {
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: 500;
  width: 11rem;
  height: 10rem;
  background-color: #f0f0f0;
}

.work-ic {
  width: 2.2rem;
  height: 2rem;
  color: white;
  padding-top: 2.8rem;
  background: transparent;
}

.work {
  padding-top: 2.2rem;
}

.color {
  display: none;
  margin-top: 0rem;
  margin-left: 10rem;
  width: 45.2rem;
  border: none;
  box-shadow: 1px 2px 4px 0px;
}

.color-content {
  display: flex;
  border: none;
  outline: none;
  gap: 0.4rem;
}

.color-items {
  margin: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 3.2rem;
}

#first-color {
  background: none;
  border: 0.5px solid gray;
}

#second-color {
  background: #fbbc04;
  border: 0.5px solid gray;
}

.checklist-content {
  display: none;
  margin-left: 36rem;
  padding: 1rem;
  border-radius: 10px;
  height: 14rem;
  width: 14rem;
  border: 0.5px solid grey;
}

.checklist-header {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.text {
  border: none;
  font-size: 1rem;
  outline: none;
}

.effect .checklist-content {
  display: initial;
  position: absolute;
}
