.types {
  /* display: none; */
  margin-bottom: 1.2em;
  padding-bottom: 0.4em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  position: relative;
  margin-top: 1em;
  /* width: 40em; */
  background-color: rgba(230, 230, 230);
  border-radius: 1.2em;
  border: none;
  box-shadow: 0.375rem 0.575rem 0.875rem 0 rgba(0, 0, 0, 0.2),
    -0.5rem -0.5rem 10.5rem 0 rgba(255, 255, 255, 0.55);
}

.darkBody .types,
.darkBody .labels,
.darkBody .color {
  box-shadow: 0px 0px 0px 0px;
  background-color: #2d2d2d;
}

.types_heading {
  padding-left: 0.5em;
  margin: 0.6em;
  padding-top: 1em;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 1.2em;
}

.darkBody .types_heading,
.darkBody .typesIcon,
.darkBody .types_heading,
.darkBody .labels_heading,
.darkBody .color-heading {
  color: #c1c1c1;
}

.types_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: none;
  outline: none;
  gap: 0.4em;
}

.types_items {
  margin: 0.3em;
  border: none;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  gap: 1em;
  color: white;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: 500;
  width: 10.4em;
  height: 8.4em;
  background-color: #1a73e8;
}

.darkBody .types_items,
.darkBody .label_items {
  background-color: rgb(85 85 85);
}

.list-ic {
  width: 2.2em;
  height: 2em;
  color: white;
}

.list {
  font-size: 1.2em;
  font-weight: 500;
  color: white;
}

.labels {
  margin-bottom: 1.2em;
  /* width: 39.5em; */
  padding-left: 0.6em;
  padding-bottom: 0.4em;
  background-color: rgba(230, 230, 230);
  border-radius: 1.2em;
  box-shadow: 0.375rem 0.575rem 0.875rem 0 rgba(0, 0, 0, 0.2),
    -0.5rem -0.5rem 10.5rem 0 rgba(255, 255, 255, 0.55);
  border: none;
}

.labels_heading,
.color-heading {
  margin: 0.6em;
  padding-top: 1em;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 1.2em;
}

.color-heading {
  padding-left: 0.5em;
}

.label_items {
  margin: 0.3em;
  border: none;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  color: white;
  cursor: pointer;
  gap: 1em;
  color: rgb(0, 0, 0);
  font-weight: 500;
  width: 10.4em;
  height: 8.4em;
  background-color: #c1c1c1;
}

#workIcon {
  font-size: 2.4em;
}

.darkBody #workIcon {
  color: #c1c1c1;
}

.typesIcon {
  font-size: 2.4em;

  color: white;
}
.work-ic {
  width: 2.2em;
  height: 2em;
  color: white;
  background: transparent;
}

.work {
  font-size: 1em;
  font-weight: 500;
}

.darkBody .work {
  color: white;
  font-weight: 500;
}

.color {
  /* width: 41em; */
  background-color: rgba(230, 230, 230);
  border-radius: 1.2em;
  box-shadow: 0.375rem 0.575rem 0.875rem 0 rgba(0, 0, 0, 0.2),
    -0.5rem -0.5rem 10.5rem 0 rgba(255, 255, 255, 0.55);
  border: none;
}

.color-content {
  display: flex;
  border: none;
  outline: none;
  gap: 0.4em;
}

.color-items {
  margin: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  width: 3.2em;
  height: 3.2em;
  border-radius: 3.2em;
}

#first-color {
  background: none;
  border: 0.5px solid gray;
}

#second-color {
  background: #fbbc04;
  border: 0.5px solid gray;
}

.checklist-content {
  display: none;
  margin-left: 36em;
  padding: 1em;
  border-radius: 10px;
  height: 14em;
  width: 14em;
  border: 0.5px solid grey;
}

.checklist-header {
  font-size: 1.2em;
  padding-bottom: 0.5em;
}

.text {
  border: none;
  font-size: 1em;
  outline: none;
}

.effect .checklist-content {
  display: initial;
  position: absolute;
}

@media only screen and (max-width: 420px) {
  #homePage {
    margin: 0 2em 0 2em;
  }

  .types_heading,
  .labels_heading,
  .color-heading {
    padding-left: 0;
    text-align: center;
  }

  .labelsContent,
  .color-content {
    display: flex;
    justify-content: center;
  }

  .types_content {
    padding-left: 0.6em;
    padding-right: 0.6em;
  }
}

@media (min-width: 421px) and (max-width: 780px) {
  #homePage {
    margin-right: 2em;
  }

  .types_heading,
  .labels_heading,
  .color-heading {
    padding-left: 0;
    text-align: center;
  }

  .types_content {
    padding-left: 0.6em;
    padding-right: 0.6em;
  }

  .labelsContent,
  .color-content {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 781px) and (max-width: 1200px) {
  .types_heading,
  .labels_heading,
  .color-heading {
    padding-left: 0;
    text-align: center;
  }

  .types_content {
    padding-left: 0.6em;
    padding-right: 0.6em;
  }

  .labelsContent,
  .color-content {
    display: flex;
    justify-content: center;
  }

  #homePage {
    margin-right: 4em;
  }
}
